.product {
    width: 100%;
    min-width: 320px;

    &__header { 
        
        & > .container {
            margin-top: 80px;
        }

        &__card {

            &__wrapper {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center; 
                height: auto;

                &__title {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 27px; 
                    width: 100%;
                    margin-top: 30px;
                    position: relative;

                    & > h2 {
                        text-align: center;
                        color: @palette-fivefold;  
                    }
                }

                &__subgroup,
                &__shade {

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 27px; 
                    width: 100%;
                    margin-top: 5px;
                    position: relative;

                    & > p {
                        text-align: center;
                        color: @palette-fivefold;
                    }
                }
            }
            
            &__structure {

                padding-top: 20px;
                text-align: center;

                & > p {
                    color: @palette-fivefold;
                }

                & > p:first-child {
                    text-transform: uppercase;
                }

                & > p:last-child {
                    padding-top: 10px;
                    text-align: left;
                }
            }
        }
    } 

    &__text {

        margin-top: 50px;
        margin-bottom: 50px;
    
        &__description {
            border-top: 1px solid @palette-fivefold;
            padding: 10px 0;
        }

        &__instructions {
            border-bottom: 1px solid @palette-fivefold;
            padding: 10px 0;
        }

        &__description,
        &__instructions {
            
            & > p:first-child {
                text-align: center;
                color: @palette-fivefold;
                text-transform: uppercase;
                margin: 0 auto;
                padding-bottom: 10px;
            }

            & > p {
                color: @palette-fivefold;
                text-align: left;
                padding-bottom: 10px;
            }
        }
    }

    @media screen and (min-width: 992px) {
        &__header {

            &__card {
               display: flex;
               justify-content: space-between;
               align-items: flex-start;

               &__wrapper {
                    width: 45%; 

                   &__title {
                       width: 100%; 
                   }

                   &__subgroup,
                    &__shade {
                        width: 100%;
                    }
               }

                &__structure {
                    width: 45%;
                }
            }
        }

        &__text {
            
            & > .container {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
            }
            
            &__description,
            &__instructions {
                width: 45%; 
            }

            &__description {
                border-bottom: 1px solid @palette-fivefold;
            }

            &__instructions {
                border-top: 1px solid @palette-fivefold;
            }
        }
    }

    @media screen and (min-width: 1280px) {
        &__header {
            &__card {
                &__structure {
                    padding-top: 30px;
                }
            }
        }
    }

    @media screen and (min-width: 1680px) {
        &__header {        
            
            & > .container {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 120px; 
            }

            &__card {

                flex-direction: column;

                width: 45%; 
                background-color: @palette-primary;

                &__wrapper {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center; width: 100%; 

                    &__title {
                        height: 35px; 
                        margin-top: 30px; 
                    }
    
                    &__subgroup,
                    &__shade {
    
                        height: 35px; 
                        margin-top: 5px;   
                    }
                }

                &__structure {
                    width: 100%;
                }
            }  
        }

        &__text {
            margin-top: 80px;
            margin-bottom: 80px;
        }
    }
}

